<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
 
        <!-- hibernate dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 
 
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-163-247-73.compute-1.amazonaws.com:5432/d9in19kn0dnflr?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory</property>
        <property name="hibernate.connection.username">zoyihvsdwnpbse</property>
        <property name="hibernate.connection.password">OnioQl4gAo40Rf5jZWuqWyPl-z</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
 	
        <!-- Automatic schema creation (begin) === -->
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
 
 
        <!-- Simple memory-only cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
 
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
 
        <!-- ############################################ -->
        <!-- # mapping files with external dependencies # -->
        <!-- ############################################ -->
 
        <mapping resource="User.hbm.xml" />
        <mapping resource="Account.hbm.xml" />
        <mapping resource="FunctionalityModel.hbm.xml" />
        <mapping resource="PracticesModel.hbm.xml" />
 
    </session-factory>
</hibernate-configuration>